

.selected{
	opacity:0.3;
}

.bg-primary {
    background: #007bff!important;
}

.bg-primary, .btn-primary, .btn-white:hover {
    background: #007bff !important;
    border-color: #007bff !important;
    color: #fff;
}

#services-2:before {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(30deg, rgba(0, 123, 255, 0.95) 0%, rgba(33, 200, 122, 0.95) 100%);
}
.gray{
	background-color: #dadada;
}

.icon-block {
    margin-right: 20px;
    color: #007bff;

}

.col-lg-4{
	    margin-top: 3rem;
}

.pricing-box {
    border: 1px solid #eee;
    background-color: #fff;
}

.header-socials li a {
    color: #007bff;
}

.contact-info-block i {
    color: #007bff;
}
.scroll-to-top {
     background-color: #007bff;
}
.current-year {
    color: #007bff !important;
}

.form-control:focus, .form-control:hover {
    border-color:#007bff;
    box-shadow: none;
}
.mb6{
	margin-bottom: 6rem;
}
.logo{
    width: 100%;
}