#header .logo img {
    max-height: 100px;
}

#hero .container {
    position: relative;
    padding-top: 30rem; 
}

.clients img {
    max-width: 95%; 
    transition: all 0.4s ease-in-out;
    display: inline-block;
     padding: 0px 0; 
}

#hero h1 {
    color: #fff;
    text-shadow: 2px 0px 3px rgba(53,53,53,0.78);
}



#hero .btn-get-started {
    background: #ed631d;
}

#hero .btn-watch-video i {
    color: #ed631d;
}
#hero .btn-watch-video {
    color: #fff;
}

div.absolute {
    position: absolute;
    right:40%;
    bottom: 10px;
    color:#ed631d;
 
  } 